## Project specific ignores

# Input and output
note.html
output.html

## Ignore Visual Studio files

# Build results
Release/
Debug/

# Project files
*.vcxproj
*.vcxproj.filters

# Precompiled headers
stdafx.h
stdafx.cpp
targetver.h